<div *ngIf="!create && !edit">
  <div class="results-container" *ngIf="searchResults">
    <div>
      Search results for {{ this.kw }}
    </div>
    <div (click)=selectPost(result.date) *ngFor="let result of searchResults">
      {{ result.date }} : {{result.title}}
    </div>
  </div>
  <div class="dt-container" *ngIf="!searchResults || searchResults === null">
    <div class="title-container">
      {{ this.title }}
    </div>
    <div class="date-container">
      {{ this.date }}
    </div>
  </div>
  <div class="body-container">
    {{ this.body }}
  </div>
</div>
